# Dependencies
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Testing
coverage
.tmp

# Production
.next
out

# Misc
.DS_Store
*.pem

# Debug
.env*.local

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts